@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

/* **** Reset **** */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    /*height: 100%;*/ /*Pour Sticky si non fonctionnel*/
}


body{
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #e0dddd;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/* **** Header **** */

header.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("medias/banner.jpg") center bottom no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid white;
}

header .logo{
    width: calc(40px + 3vw);
    border-radius: 50%;
}

header .title{
    font-size: calc(1.4rem + 3vw);
    font-family: 'Kalam', cursive;
    color: #fff;
    text-shadow: 0 7px 10px #000;
}

header .title .min-size{
    font-size: calc(1rem + 2vw);
}

.burger-menu{
    width: calc(40px + 3vw);
    height: calc(40px + 3vw);
    position:relative;
    cursor: pointer;
}

.burger-menu .bar{
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
}

.burger-menu .bar1{
    top: calc(((40px + 3vw) / 2) - 12px);
}
.burger-menu .bar2{
    top: calc(((40px + 3vw) / 2) - 2px);
}
.burger-menu .bar3{
    top: calc(((40px + 3vw) / 2) + 8px);
}

.burger-menu .rotation{
    position: absolute;
    top: calc(((40px + 3vw) / 2) - 2px);
    transform: rotate(45deg);
    transition: transform 0.5s ease-in-out;

}
.burger-menu .rotation2{
    position: absolute;
    top: calc(((40px + 3vw) / 2) - 2px);
    transform: rotate(-45deg);
    transition: transform 0.5s ease-in-out;
}
.burger-menu .disparition{
    opacity: 0;
}

.menu-list a{
    display: block;
    color: #000;
    font-size: calc(3rem + 3vw);
    text-align: center;
    padding: 1.5rem;
}

.menu-list a:last-of-type{
    border-bottom: none;
}

.menu-list{
    display: none;
    flex-direction: column;
    justify-content: space-around;   
}

.menu-list-active{
    display: flex;
    position: absolute;
    right: 0;
    width: 100vw;
    top: calc(40px + 3vw);
    background-image: url("medias/menuburger.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width:1000px){
    header .logo{
        margin-left: 0.5rem;
    }
    
    .burger-menu{
        display: none;
    }
    .menu-list{
        display: flex;
        flex-direction: initial;
    }
    .menu-list a{
        font-size: 2rem;
        padding: 0 0.7rem;
        margin-right: 1rem;
        border: none;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-image: url("medias/fondmenu.jpg");
        box-shadow: 0 4px 5px #d3dae2;
    }
    .menu-list a:hover{
        color: #fff;
    }

    .menu-list .active-tab{
        position: relative;
        color: #fff;
        top: -1rem;
    }
}


/* **** Banner **** */

section.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("medias/banner.avif") center bottom no-repeat;
    background-size: cover;
    height: calc(10rem + 2vh);
}

.search h2{
    font-size: calc(1.2rem + 2vw);
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 400;
}
.search input{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4rem;
    width: 100%;
    padding: 0.8rem 1.5rem;
    margin-bottom: 1rem;
    outline: none;
    color: #fff;
    font-size: 2rem;
}

/* **** Scroll To Top **** */

.scroll-to-top{
    display: none;
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    cursor: pointer;
}
.scroll-to-top img{
    width: 50px;
}


/* **** Footer **** */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    color:#fff;
    font-size: 1.4rem;
    top: 100vh;
    height: calc(2.5rem + 1vh);
    background-color: #0c1353;
}

footer p{
    margin-left: 2rem;;
}
footer .social-link ul{
    display: flex;
}

footer .social-link a{
    color: white;
    margin-right: 2rem;
}

footer .social-link .fa{
    margin-right: 0.5rem;
}


/* **** Menu article **** */
/*nav.sticky-menu-article{
    position:sticky;
    top: calc(42.5px + 3vw);
    z-index: -1; *//*pour passer sous menu-list-active du menu-burger
}*/


nav .sub-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .sub-menu-list{
    font-size: calc(1rem + 0.5vw);
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    margin: 0 0.3rem 1rem 0.3rem;
    background-color: #0c1353;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 0.6rem;
    cursor: pointer;
    transition: 0.4s;
}

nav .sub-menu-list:hover{
    background: linear-gradient(to right, #15a6c7, #0d3670); 
}


@media screen and (min-width:1000px){
    nav .sub-menu{
        display: none;
    }
}


/* ******** Welcome Page ******** */

/* **** Section article **** */
/*
.presentation{
    position:relative; nécessaire pour z-index
    z-index: -2; /*pour passer sous sticky-menu-article qui est en -1
}*/
.presentation .flex{
    display: none;
}

.active-article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-size: calc(1.7rem + 1.5vw);
    margin: 1rem;
}

.presentation .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation img{
    width: 60%;
    border-radius: 5px 20px;
}

.presentation .paragraphe{
    color: #525050;
    font-size: calc(1.4rem + 0.2vw);
    margin: 1rem 1.5rem;
    padding: 0 1.5rem 1rem;
    box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15) ;
    border-bottom-right-radius: 1.5rem;
}

.presentation .paragraphe p:last-of-type{
    margin-top: 1rem;
}

@media screen and (min-width:1000px){
    .presentation{
        margin-bottom: 3rem;
    }
    .presentation .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .presentation h3{
        margin: 4rem 0 2rem;
    }
    .presentation .content{
        flex-direction: initial;
        justify-content: center;
    }
    .presentation img{
        width: 35%;
        margin-left: 1.5rem;  
    }
    .presentation .order-a{
        order: 1;
    }
    .presentation .order-b{
        order: 2;
        margin-left: 0;
        margin-right: 1.5rem;
    }
    .presentation .paragraphe p:last-of-type{
        margin-top: 2rem;
    }
}


/* ******** Level Page ******** */

p{
    font-size: 1.6rem;
    margin: 1rem 2rem;

  }
  .container {
    /* width: 80vmin; */
    width: 90%;
    margin: 2rem auto;
    background-color: #ffffff;
    box-shadow: 0 20px 30px rgba(62, 122, 201, 0.2);
  }
  .tabs, .tabs-ens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  h4 {
    font-size: 1.6rem;
    background-color: #e4e9fd;
    text-align: center;
    padding: 1.5rem 0;
    cursor: pointer;
    font-weight: 600;
  }
  .tab-content, .tab-content-ens {
    background-color: #ffffff;
    padding: 4rem 3rem;
  }
  .tab-content h5, .tab-content-ens h5 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: #000224;
    font-weight: 600;
  }
  .tab-content img, .tab-content-ens img{
    display: block;
    width: 90%;
    max-width: 50rem; 
    margin: 1rem auto;
    border-radius: 0.5rem;
  }
  .tab-content p, .tab-content-ens p {
    font-size: 1.6rem;
    text-align: justify;
    color: #202238;
  }
  .tab-content .level, .tab-content-ens .level {
    display: none;
  }
  .tab-content .active, .tab-content-ens .active {
    display: block;
  }
  .tabs .active, .tabs-ens .active {
    background-color: #ffffff;
    color: #4d5bf9;
  }

.deep-evolution{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deep-evolution img{
    margin: 2rem auto;
    width: 90%;
    border-radius: 0.5rem;
}

@media screen and (min-width: 700px){
    .deep-evolution img{
        max-width: 63rem;
    }
}